<div class="container">
    <div class="row">
        <div class="col-8 col-md-12 col-lg-12">
            <div class="form">
                <form (ngSubmit)="login($event)" [formGroup]="form">
                    <label for="usernameOrEmail">Usuario o email</label>
                    <input type="usernameOrEmail" class="form-control" name="usernameOrEmail" formControlName="usernameOrEmail">
                    <div *ngIf="form.get('usernameOrEmail')?.errors && form.get('usernameOrEmail')?.touched ">
                        <small *ngIf="form.get('usernameOrEmail')?.hasError('required')">Ingrese un usuario o email</small>
                    </div>
        
                    <label for="password">Contraseña</label>
                    <input type="password" class="form-control" name="password" formControlName="password">
                    <div *ngIf="form.get('password')?.errors && form.get('password')?.touched ">
                        <small *ngIf="form.get('password')?.hasError('required')">Ingrese la contraseña</small>
                    </div>
        
                    <button class="btn btn-success btn-md" type="submit" [disabled]="form.invalid"> Login </button>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <div class="spinner-grow text-success" style="width: 3rem; height: 3rem;" role="status" *ngIf="spinner">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>

</div>