label{
    padding-top: 20px;
}

input{
    width: 300px;
}

button{
    margin: 15px 0px;
}

h6{
    margin-top: 15px;
    color: red;
}

.form{
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.spinner{
    display: flex;
    justify-content: center;
}

.container{
    margin-top: 50px;
    height: 350px;
}



