.container-fluid{
    padding-top: 5px;
    display: flex;
    justify-content: center;
}

label{
    padding-top: 20px;
}

input{
    width: 300px;
}

button{
    margin: 13px 5px;
}

h6{
    margin-top: 15px;
    color: red;
}


