<div class="row">
  <div class="col-10 col-lg-11">
    <div class="card mb-3 color_item" style="max-width: fluid;">
      <div class="row g-0">
        <div class="col-md-2">
          <img src={{educacion.img}} class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-10">
          <div class="card-body">
            <h5 class="card-tittle">{{educacion.escuela}}</h5>
            <h6 class="card-text">Titulo: {{educacion.titulo}}</h6>
            <p class="card-text">Estado: {{educacion.estado}}</p>
            <p class="card-text"><small>{{educacion.inicio}} - {{educacion.fin}}</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-1">
      <fa-icon  [icon]="edit" [routerLink]="['/educacion', educacion.id]"></fa-icon>
      <fa-icon  [icon]="del" (click)="delete(educacion.id)"></fa-icon>
  </div>
</div>
  

