<nav class="navbar">
    <div class="container-fluid">
        <div class="col-12 col-md-5 col-lg-5">
            <a href="/inicio"><fa-icon [icon]="faAngleR"></fa-icon><b>{{text}}</b></a>
        </div>

        <div class="col-7 col-md-5 col-lg-5">
            <div class="col-6 col-sm-3 col-md-3 col-lg-2" *ngIf="showButton('/inicio')">
                <a href="https://www.instagram.com/mateo.ledesma/" target="_blank">
                    <fa-icon [icon]="faInstagram" size="2x"></fa-icon>
                </a>
    
                <a href="https://github.com/LedesmaMateo" target="_blank">
                    <fa-icon [icon]="faGitHub" size="2x"></fa-icon>
                </a>
            </div>
        </div>

        <div class="col-5 col-md-2 col-lg-2">
            <button class="btn btn-success" (click)="logOut()" *ngIf="autenticado() && showButton('/inicio')">Logout</button>
            <button class="btn btn-success" *ngIf="!autenticado() && showButton('/inicio')" [routerLink]="['/iniciar-sesion']">Login</button>
        </div>
    </div>
</nav>

