<div class="container-fluid">
    <div class="row">
        <div class="navbar">
            <div class="col-12 col-sm-6 col-md-6 col-lg-8">
                <fa-icon [icon]="faAngleR"></fa-icon>
                <b>{{text}}</b>
            </div>

            <div class="col-6 col-sm-3 col-md-3 col-lg-2" *ngIf="showButton('/inicio')">
                <a href="https://www.instagram.com/mateo.ledesma/" target="_blank">
                    <fa-icon [icon]="faInstagram" size="2x"></fa-icon>
                </a>
    
                <a href="https://github.com/LedesmaMateo" target="_blank">
                    <fa-icon [icon]="faGitHub" size="2x"></fa-icon>
                </a>
            </div>
            
            <div class="col-6 col-sm-3 col-md-3 col-lg-2">
                <button class="btn btn-success" (click)="logOut()" *ngIf="showButton('/inicio')">Logout</button>
            </div>
        </div>
    </div>
</div>
