.navbar{
    height: 74px;
    box-shadow: 0px 6px 8px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 8px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 8px 2px rgba(0,0,0,0.75);
}

fa-icon{
    padding: 3px;
}

