<form action="" [formGroup]="form" (ngSubmit)="guardar($event)" *ngIf="false">
    <input type="file" class="form-control" name="img" (change)="captureFile($event)" formControlName="img"> 
    <input type="text" name="nombre" formControlName="nombre">
    <button type="submit"> Guardar </button>
</form>

<div class="row">
    <div class="col-12 col-md-4 col-lg-4" *ngFor="let data of habilidad">
        <div class="col">
            <div class="card h-100 color_item">
              <img src={{data.img}} class="card-img-top">
              <div class="card-body">
                <h5 class="card-text">{{data.nombre}}</h5>
              </div>
            </div>
          </div>
    </div>
</div>

