<div class="row">
    <div class="col-10 col-lg-11">
        <div class="card mb-3 color_item" style="max-width: flex;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src={{experiencia.logo}} class="img-fluid rounded-start">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Nombre del puesto: {{experiencia.nombre_puesto}}</h5>
                        <p class="card-text">Descripcion: {{experiencia.descripcion}}</p>
                        <p class="card-text"><small>Años: {{experiencia.inicio}} - {{experiencia.fin}}</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-1">
        <fa-icon  [icon]="edit" [routerLink]="['/experiencia', experiencia.id]" size="2x"></fa-icon>
        <fa-icon  [icon]="del" (click)="delete(experiencia.id)"></fa-icon>
    </div>
</div>







